* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.App {
  margin: 10vh auto;
  max-width: 1000px;
  height: 80vh;
  border: 1px solid black;
  overflow: auto;
  padding: 10px;
}

.item {
  height: 100px;
  width: 100%;
  border: 1px solid black;
  margin-bottom: 40px;
  padding: 20px;
}
